# {{ ansible_managed }}
{% if slurm_job_container_base_path %}
AutoBasePath=true
BasePath={{ slurm_job_container_base_path }}{{ (slurm_job_container_shared_storage | bool) | ternary("/%n","") }}  Dirs=/tmp,/var/tmp,/dev/shm
Shared=True
{% endif%}
