# {{ ansible_managed }}
# See the slurmdbd.conf man page for more information.


# Purging & Archival
{% if role_slurm_dbd_archive_dir is defined %}
ArchiveDir={{ role_slurm_dbd_archive_dir }}
{% endif %}
{% if role_slurm_dbd_archive_script is defined %}
ArchiveScript={{ role_slurm_dbd_archive_script }}
{% endif %}
{% if role_slurm_dbd_archive_events is defined %}
ArchiveEvents={{ role_slurm_dbd_archive_events }}
{% endif %}
{% if role_slurm_dbd_archive_jobs is defined %}
ArchiveJobs={{ role_slurm_dbd_archive_jobs }}
{% endif %}
{% if role_slurm_dbd_archive_resvs is defined %}
ArchiveResvs={{ role_slurm_dbd_archive_resvs }}
{% endif %}
{% if role_slurm_dbd_archive_steps is defined %}
ArchiveSteps={{ role_slurm_dbd_archive_steps }}
{% endif %}
{% if role_slurm_dbd_archive_suspend is defined %}
ArchiveSuspend={{ role_slurm_dbd_archive_suspend }}
{% endif %}
{% if role_slurm_dbd_archive_txn is defined %}
ArchiveTXN={{ role_slurm_dbd_archive_txn }}
{% endif %}
{% if role_slurm_dbd_archive_usage is defined %}
ArchiveUsage={{ role_slurm_dbd_archive_usage }}
{% endif %}

{% if role_slurm_dbd_purge_events is defined %}
PurgeEventAfter={{ role_slurm_dbd_purge_events }}
{% endif %}
{% if role_slurm_dbd_purge_jobs is defined %}
PurgeJobAfter={{ role_slurm_dbd_purge_jobs }}
{% endif %}
{% if role_slurm_dbd_purge_resvs is defined %}
PurgeResvAfter={{ role_slurm_dbd_purge_resvs }}
{% endif %}
{% if role_slurm_dbd_purge_steps is defined %}
PurgeStepAfter={{ role_slurm_dbd_purge_steps }}
{% endif %}
{% if role_slurm_dbd_purge_suspend is defined %}
PurgeSuspendAfter={{ role_slurm_dbd_purge_suspend }}
{% endif %}
{% if role_slurm_dbd_purge_txn is defined %}
PurgeTXNAfter={{ role_slurm_dbd_purge_txn }}
{% endif %}
{% if role_slurm_dbd_purge_usage is defined %}
PurgeUsageAfter={{ role_slurm_dbd_purge_usage }}
{% endif %}


# Authentication info
AuthType=auth/munge
#AuthInfo=/var/run/munge/munge.socket.2


# SlurmDBD info
DbdHost={{ role_slurm_db_host }}
#DbdPort=7031
SlurmUser=slurm
#MessageTimeout=300
DebugLevel=info
#DefaultQOS=normal,standby
PidFile=/var/run/slurmdbd.pid
#PluginDir=/usr/lib/slurm
#PrivateData=accounts,users,usage,jobs
#TrackWCKey=yes
LogFile=/var/log/slurm/slurmdbd.log


# Database info
StorageType=accounting_storage/mysql
StorageHost=localhost
StoragePort=1234
StoragePass={{ role_slurm_db_password }}
StorageUser=slurm
StorageLoc=slurm_acct_db