# {{ ansible_managed }}
ClusterName={{ slurm_cluster_name }}

# PARAMETERS
{% for k, v in slurm_default_config | combine(slurm_config) | items %}
{%  if v != "omit" %}{# allow removing items using setting key: null #}
{%    if k != 'JobSubmitPlugins' %}{# handled separately due to slurm_job_submit_script #}
{{ k }}={{ v | join(',') if (v is sequence and v is not string) else v }}
{%    endif %}
{%  endif %}
{% endfor %}

{% set jobsubmitplugins = ((['lua'] if slurm_job_submit_script | default('', true) | length > 0 else []) + slurm_config.get('JobSubmitPlugins', [])) | unique %}
{% if jobsubmitplugins | length > 0 %}
JobSubmitPlugins={{ jobsubmitplugins | join(',') }}
{% endif %}



# LOGIN-ONLY NODES
# Define slurmd nodes not in partitions for login-only nodes in "configless" mode:
{%if slurm_login_only_nodes %}{% for node in groups[slurm_login_only_nodes] %}
NodeName={{ node }}
{% endfor %}{% endif %}


# COMPUTE NODES
{% for nodegroup in slurm_nodegroups %}
# nodegroup: {{ nodegroup.name }}
{%  set inventory_group_name = slurm_cluster_name ~ '_' ~ nodegroup.name %}
{%  set inventory_group_hosts = groups.get(inventory_group_name, []) %}
{%      if inventory_group_hosts | length > 0 %}
{%          set play_group_hosts = inventory_group_hosts | intersect (ansible_play_batch) %}
{%          set _guard = play_group_hosts | first | mandatory('Inventory group "' ~ inventory_group_name ~ '" contains no hosts in this play - was --limit used?') %}
{%          set ns = namespace(first_host=_guard, found_topo=false) %}
{%          for h in play_group_hosts %}
{%            if not ns.found_topo %}
{%              set _topo = hostvars[h].get('ansible_facts', {}).get('ansible_local', {}).get('slurmd_topology', {}) %}
{%              if _topo is mapping and _topo | length > 0 %}
{%                set ns.first_host = h %}
{%                set ns.found_topo = true %}
{%              endif %}
{%            endif %}
{%          endfor %}
{%          set first_host = ns.first_host %}
{%          set first_host_hv = hostvars[first_host] %}
{%          set slurmd_topo = first_host_hv.get('ansible_facts', {}).get('ansible_local', {}).get('slurmd_topology', {}) %}
{%          set slurmd_topo = slurmd_topo if slurmd_topo is mapping else {} %}{# guard: fact may be a raw string if the interpreter was missing on a previous run #}
{%          set ram_mb = slurmd_topo.get('RealMemory', first_host_hv['ansible_facts']['memory_mb']['real']['total']) | int %}
{%          set mem_spec_limit = (ram_mb * nodegroup.get('mem_spec_percent', slurm_mem_spec_percent | default(0))) | int %}
{%          set hostlists = (inventory_group_hosts | clip.hpc.hostlist_expression) %}{# hosts in inventory group aren't necessarily a single hostlist expression #}
# Node config source ({{ first_host }}): {{ slurmd_topo | ternary('slurmd_topology facts', 'fallback to ansible_facts') }}
NodeName={{ hostlists | join(',') }} {{ '' -}}
    Features={{ (['nodegroup_' ~ nodegroup.name] + nodegroup.features | default([]) ) | join(',') }} {{ '' -}}
    State=UNKNOWN {{ '' -}}
    RealMemory={{ nodegroup.ram_mb | default(ram_mb) }} {{ '' -}}
    {%- if mem_spec_limit %}MemSpecLimit={{ mem_spec_limit }}{% endif %} {{ '' -}}
    Sockets={{ slurmd_topo.get('SocketsPerBoard', first_host_hv['ansible_facts']['processor_count']) }} {{ '' -}}
    CoresPerSocket={{ slurmd_topo.get('CoresPerSocket', first_host_hv['ansible_facts']['processor_cores']) }} {{ '' -}}
    ThreadsPerCore={{ slurmd_topo.get('ThreadsPerCore', first_host_hv['ansible_facts']['processor_threads_per_core']) }} {{ '' -}}
    {{ nodegroup.node_params | default({}) | clip.hpc.dict2parameters }} {{ '' -}}
    {% if 'gres' in nodegroup %}Gres={{ ','.join(nodegroup.gres | map(attribute='conf')) }}{% endif %}

{%      endif %}{# 1 or more hosts in inventory #}
NodeSet=nodegroup_{{ nodegroup.name }} Feature=nodegroup_{{ nodegroup.name }}

{% endfor %}

# Define a non-existent node, in no partition, so that slurmctld starts even with all partitions empty
NodeName=nonesuch

# PARTITIONS
{% for partition in slurm_partitions %}
PartitionName={{partition.name}} {{ '' -}}
    Default={{ partition.get('default', 'NO') }} {{ '' -}}
    MaxTime={{ partition.get('maxtime', slurm_job_maxtime | default('UNLIMITED')) }} {{ '' -}}
    State=UP  {{ '' -}}
    Nodes={{ partition.get('nodegroups', [partition.name]) | map('regex_replace', '^', 'nodegroup_') | join(',') }} {{ '' -}}
    {{ partition.partition_params | default({}) | clip.hpc.dict2parameters }}
{% endfor %}
