# {{ ansible_managed | comment}}
# See the slurmdbd.conf man page for more information.


# Purging & Archival
{% if slurm_dbd_archive_dir is defined %}
ArchiveDir={{ slurm_dbd_archive_dir }}
{% endif %}
{% if slurm_dbd_archive_script is defined %}
ArchiveScript={{ slurm_dbd_archive_script }}
{% endif %}
{% if slurm_dbd_archive_events is defined %}
ArchiveEvents={{ slurm_dbd_archive_events }}
{% endif %}
{% if slurm_dbd_archive_jobs is defined %}
ArchiveJobs={{ slurm_dbd_archive_jobs }}
{% endif %}
{% if slurm_dbd_archive_resvs is defined %}
ArchiveResvs={{ slurm_dbd_archive_resvs }}
{% endif %}
{% if slurm_dbd_archive_steps is defined %}
ArchiveSteps={{ slurm_dbd_archive_steps }}
{% endif %}
{% if slurm_dbd_archive_suspend is defined %}
ArchiveSuspend={{ slurm_dbd_archive_suspend }}
{% endif %}
{% if slurm_dbd_archive_txn is defined %}
ArchiveTXN={{ slurm_dbd_archive_txn }}
{% endif %}
{% if slurm_dbd_archive_usage is defined %}
ArchiveUsage={{ slurm_dbd_archive_usage }}
{% endif %}

{% if slurm_dbd_purge_events is defined %}
PurgeEventAfter={{ slurm_dbd_purge_events }}
{% endif %}
{% if slurm_dbd_purge_jobs is defined %}
PurgeJobAfter={{ slurm_dbd_purge_jobs }}
{% endif %}
{% if slurm_dbd_purge_resvs is defined %}
PurgeResvAfter={{ slurm_dbd_purge_resvs }}
{% endif %}
{% if slurm_dbd_purge_steps is defined %}
PurgeStepAfter={{ slurm_dbd_purge_steps }}
{% endif %}
{% if slurm_dbd_purge_suspend is defined %}
PurgeSuspendAfter={{ slurm_dbd_purge_suspend }}
{% endif %}
{% if slurm_dbd_purge_txn is defined %}
PurgeTXNAfter={{ slurm_dbd_purge_txn }}
{% endif %}
{% if slurm_dbd_purge_usage is defined %}
PurgeUsageAfter={{ slurm_dbd_purge_usage }}
{% endif %}


# Authentication info
AuthType=auth/munge
#AuthInfo=/var/run/munge/munge.socket.2
{% if slurm_rest_enable %}
AuthAltTypes=auth/jwt
AuthAltParameters={{ slurm_auth_alt_parameters }}
{% endif %}

# SlurmDBD info
DbdHost={{ hostvars[slurm_db_host]['ansible_hostname'] }}
DbdPort={{ slurm_dbd_port }}
SlurmUser=slurm
#MessageTimeout=300
DebugLevel=info
{% if slurm_dbd_conf_debug_flags %}
DebugFlags={{ slurm_dbd_conf_debug_flags }}
{% endif %}
#DefaultQOS=normal,standby
PidFile=/var/run/slurmdbd/slurmdbd.pid
#PluginDir=/usr/lib/slurm
#PrivateData=accounts,users,usage,jobs
#TrackWCKey=yes
#LogFile=/var/log/slurm/slurmdbd.log


# Database info
StorageType=accounting_storage/mysql
StorageHost={{ slurm_dbd_mysql_host }}
StoragePass={{ slurm_db_password | mandatory('You must set slurm_db_password') }}
StorageUser={{ slurm_dbd_mysql_username }}
StorageLoc={{ slurm_dbd_mysql_database }}
