conflict("{{ role_lmod_build_env_name }}")
help([[        Loads the {{ role_lmod_syshost }} build environment configuration.
]])
whatis(" Loads the build environment configuration for {{ role_lmod_syshost }}")
setenv("EASYBUILD_PREFIX","{{ role_lmod_easybuild_install_folder }}")
{% if role_lmod_easybuild_additional_robot_paths %}
prepend_path("EASYBUILD_ROBOT_PATHS","{{ role_lmod_easybuild_additional_robot_paths }}")
{% endif %}
prepend_path("EASYBUILD_ROBOT_PATHS","{{ role_lmod_easybuild_easyconfig_folder }}/easybuild/easyconfigs")
prepend_path("EASYBUILD_ROBOT_PATHS","{{ role_lmod_easybuild_install_folder }}/ebfiles_repo")

if lfs.attributes([[{{ role_lmod_easybuild_install_folder }}/modules]]) then
  for file in lfs.dir[[{{ role_lmod_easybuild_install_folder }}/modules]] do
   if file ~= "." and file ~= ".." and file ~= "all" then
     prepend_path("MODULEPATH","{{ role_lmod_easybuild_install_folder }}/modules/" .. file)
   end
  end
end
