RDMA_EXPORTER_LISTEN_ADDRESS={{ rdma_exporter_listen_address }}
RDMA_EXPORTER_METRICS_PATH={{ rdma_exporter_metrics_path }}
RDMA_EXPORTER_HEALTH_PATH={{ rdma_exporter_health_path }}
RDMA_EXPORTER_LOG_LEVEL={{ rdma_exporter_log_level }}
RDMA_EXPORTER_SYSFS_ROOT={{ rdma_exporter_sysfs_root }}
RDMA_EXPORTER_SCRAPE_TIMEOUT={{ rdma_exporter_scrape_timeout }}
RDMA_EXPORTER_COLLECTOR_ETHTOOL={{ rdma_exporter_collector_ethtool | bool | ternary('true', 'false') }}
RDMA_EXPORTER_COLLECTOR_OPTIONAL_COUNTERS={{ rdma_exporter_collector_optional_counters | bool | ternary('true', 'false') }}
RDMA_EXPORTER_COLLECTOR_QP_COUNTERS={{ rdma_exporter_collector_qp_counters | bool | ternary('true', 'false') }}
{% if rdma_exporter_exclude_devices %}
RDMA_EXPORTER_EXCLUDE_DEVICES={{ rdma_exporter_exclude_devices | join(',') }}
{% endif %}
{% for key, value in rdma_exporter_extra_environment.items() %}
{{ key }}={{ value }}
{% endfor %}
