{% if rdma_exporter_hw_counters_optional_counters %}
RDMA_OPTIONAL_COUNTERS={{ rdma_exporter_hw_counters_optional_counters | join(',') }}
{% endif %}
{% if rdma_exporter_hw_counters_enable_qp_counters %}
RDMA_ENABLE_QP_COUNTERS=1
{% endif %}
