{% for row in beegfs_interfaces %}
{{ row }}{% if beegfs_conn_interfaces_addr is not none or beegfs_conn_interfaces_protocol is not none %} {{ beegfs_conn_interfaces_addr | default('*', true) }} {{ beegfs_conn_interfaces_protocol | default('*', true) }}{% endif %}
{% endfor %}
